<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <title>YourPage</title>
    <link rel="stylesheet"  href="../static/css/bootstrap3.css" th:href="@{/css/bootstrap3.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" sec:authentication="name">Habits Builder</a>
        <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">

            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" th:href="@{/ClientPage}">Twój profil</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/clientPrizes}">Twoje osiągnięcia</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/addHabit}">Dodaj Habit</a>
                </li>

                <li>
                    <a class="nav-link" th:href="@{/index}">Wyloguj się</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<div class="card text-white bg-secondary mb-3" style=" margin: 10px; width: 90%; display: inline-block ">

    <div style="margin: 10px"  >
        <h1>Witaj [[${#request.remoteUser}]]!</h1>
    </div>
</div>


<div class="card text-white bg-secondary mb-3" style=" margin: 10px; width: 90%; display: inline-grid">

    <div style="margin: 10px">
        <div>
            <h2>Twój plan </h2>
            <table class="table table-hover" style="table-layout: fixed">
                <thead>
                <tr class="table-primary">
                    <th scope="row">Habit</th>
                    <th>Opis</th>
                    <th>Data</th>
                    <th>Godzina</th>

                    <th></th>


                </tr>
                </thead>

                    <tbody>
                    <tr th:each="habit :${habit}">
                    <td th:text="${habit.name}">name</td>
                    <td th:text="${habit.description}">describtion</td>
                    <td th:text="${habit.todoTime}">time</td>

                    <td th:text="${habit.time}">time</td>

                    <td>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form th:action="@{'/modifyHabit/{id}'(id=${habit.id})}"  th:method="get">
                                <button type="submit" class="btn btn-sm btn-primary">Modyfikuj</button>
                            </form>

                            <form  action="#" th:action="@{'/delete/{id}'(id=${habit.id})}" th:method="delete" >

                                <button type="submit" class="btn btn-sm  btn-primary">Usuń</button>
                            </form>

                        </div>
                    </td>
                    </tr>

                    </tbody>


            </table>
        </div>


    </div>


</div>


</body>
</html>